@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    background-color: #252525;
    color: #aaddaa;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10vh;
    padding-top: 10vh;
}

.header {
    background-color: #1e1e1e;
    font-size: 8vh;
    padding-left: 12vw;
    text-transform: lowercase;
    padding-bottom: 1vh;
    color: #60bbff;
    position: fixed;
    top: 0;
    width: 100%;
}

.header a {
    text-shadow: none;
    font-size: 7vh;
    position: absolute;
    right: 24vw;
    color: #60bbff;
}

.post {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    background-color: #1e1e1e;
    padding: 2vw;
    /* ReSharper disable once CssBrowserCompatibility */
    border-radius: 1vw;
}

.post .title {
    font-size: 4vh;
    color: #aaaadd;
}

.post hr {
    width: 85%;
    margin-left: 15%;
    margin-top: 3vh;
    border-color: #aaaadd;
}

.content {
    margin-left: 15%;
    margin-top: 3vh;
    font-size: 2.5vh;
}

.fox { height: 5vh; }

a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 1vw #ffffff;
}

pre {
    font-size: 1.5vh;
    font-family: monospace;
    color: #60bbff;
    word-wrap: break-word;
    white-space: pre-wrap;
}

pre .glow {
    color: #ffffff;
    text-shadow: 0 0 1vw #ffffff;
}

pre .highlight {
    color: #ffffff;
    text-shadow: 0 0 1vw #ffffff;
    background-color: #669966;
}

.comment {
    color: #aaddaa;
}

.inline {
    font-family: monospace;
    color: #d7ba7d;
}

.fade { color: #a0a0a0; }

h2 {
    font-size: 3vh;
    color: #aaaadd;
}

h3 {
    font-size: 2.5vh;
    color: #aaaadd;
}

.strikethrough { text-decoration: line-through; }

.quote {
    border-left: 0.3vw solid #aaaadd;
    border-radius: 0.15vw;
    padding-left: 1vw;
    color: #aaaadd;
}

.next, .previous {
    background-color: #1e1e1e;
    color: #60bbff;
    position: absolute;
    font-size: 2.5vh;
    margin-top: 2vh;
    padding: 1vh 2vw;
    border-radius: 0.5vw;
}

.next { right: 12vw; }

.previous { left: 12vw; }

.deleted {
    background-color: #402a2f;
    display: inline-block;
    width: 100%;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
}

.added {
    background-color: #22362e;
    display: inline-block;
    width: 100%;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
}

.deletedWord {
    color: #ffffff;
    background-color: #604a4f;
}

.addedWord {
    color: #ffffff;
    background-color: #42564e;
}

.diffSymbol {
    color: #ffffff;
}

.comments { 
    margin-top: 7vh;
}

h1 {
    font-size: 3vh;
    color: #aaaadd;
}

img { 
    border-radius: 1vw;
}

.image-container {
    text-align: center;
}

.key {
    background-color: #303030;
    padding: 0.25vw 0.5vw;
    border-radius: 1vw;
}

iframe {
    border-radius: 1vw;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .header { font-size: 3vh; }

    .header span:after {
        content: "\a";
        white-space: pre;
    }

    .header a {
        font-size: 2vh;
        top: 4vh;
    }

    body { padding-top: 10vh; }

    .post .title a { font-size: 3vh; }

    .quote { padding-left: 5vw; }
}