@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    background-color: #252525;
    color: #aaddaa;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4vh;
    padding-top: 10vh;
}

.header {
    background-color: #1e1e1e;
    font-size: 8vh;
    padding-left: 12vw;
    text-transform: lowercase;
    padding-bottom: 1vh;
    color: #60bbff;
    position: fixed;
    top: 0;
    width: 100%;
}

.header a {
    text-shadow: none;
    font-size: 7vh;
    position: absolute;
    right: 24vw;
    color: #60bbff;
}

.post {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    background-color: #1e1e1e;
    padding: 2vw;
    /* ReSharper disable once CssBrowserCompatibility */
    border-radius: 1vw;
}

.post .title {
    font-size: 4vh;
    color: #aaaadd;
}

.post hr {
    width: 85%;
    margin-left: 15%;
    margin-top: 3vh;
    border-color: #aaaadd;
}

.content {
    margin-left: 15%;
    margin-top: 3vh;
    font-size: 2.5vh;
}

.fox { height: 5vh; }

a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 1vw #ffffff;
}

.post .title a {
    font-size: 4vh;
    color: #aaaadd;
    text-shadow: none;
}

pre {
    font-size: 1.5vh;
    font-family: monospace;
    color: #60bbff;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.inline {
    font-family: monospace;
    color: #d7ba7d;
}

.fade { color: #a0a0a0; }

h2 {
    font-size: 3vh;
    color: #aaaadd;
}

.strikethrough {
    text-decoration: line-through;
}

.quote {
    border-left: 0.3vw solid #aaaadd;
    border-radius: 0.15vw;
    padding-left: 1vw;
    color: #aaaadd;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .header { font-size: 3vh; }

    .header span:after {
        content: "\a";
        white-space: pre;
    }

    .header a {
        font-size: 2vh;
        top: 4vh;
    }

    body { padding-top: 10vh; }

    .post .title a {
        font-size: 3vh;
    }
}